[Unit]
Description=LEGO Radio GPIO Button Controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/vinylmike/lego_radio/gpio_radio.py
Restart=on-failure
User=vinylmike
WorkingDirectory=/home/vinylmike/lego_radio

[Install]
WantedBy=multi-user.target
